@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    
}


@media screen and (max-width: 414px) {
    .home .home-title {
        padding-top: 0;
    }
}

@media screen and (max-width: 414px) {
    
    .navbar {
        display: none;
    }

    .logo-nome {
        margin-right: 0;
        font-size: 1.8rem;
    }

    .dropdown-container {
        display: none;
    }

    .home-title h1 {
        font-size: 3rem;
    }

    .home-title h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .home-title h3 {
        font-size: 1.8rem;
        line-height: .3;
        margin: 1.5rem 0;
    }

    .home-title p {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }

    .home-title .social-media {
        margin: 1.5rem 0;
    }

    .home-title .social-media a {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    .home-img {
        height: 35%;
    }

    .home-img img{
        display: flex;
        align-items: center;
        width: 200px;
        
    }

    .titulos {
        margin-top: 5rem;
        color: var(--white-color);
        font-size: 2rem;
        text-align: center;
    
    }
    
    .about {
        height: auto;
        margin: auto;
        padding: 2rem;
    }
    
    .about h3 {
        font-size: 2rem;
    }


    #skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:10px;
    }

    .skills-box {
        display: flex;
        justify-content: center;
    }

    .skills-box div {
        padding: 2px;
    }

    .skills img {
        text-align: center;
        height: 20vw;
    }

    .hobbies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hobbies-box {
        height: auto;
        padding-bottom: 5rem;
    }
 
    .hobbies-item{
        padding: 0;
        font-size: 1.3rem;
    }

    .academic {
        height: auto;
    }

    .academic-box {
        margin: 10rem;
        gap: 20px;
    }

    .academic h3 {
        font-size: 2rem;
    }

    .academic img {
        width: 200px;
        height: 200px;
    }

    .experience {
        font-size: 1.8rem;
    }

    .experience-box img {
        width: 300px;
        height: 200px;
    }

    .experience-box span {
        display: block;
        gap: 10px;
    }

    .experience-box .button {
        font-size: 1rem;
    }

    .experience-container {
        gap: 30px;
        margin: 3rem 0 1.5rem 0;
    }

    .experience-box {
        flex-direction: column;
        align-items: center;
    }

    .experience-box div{
        margin: 2vh 0;
        width: 80vw;
        height: auto;
        gap: 10px;
    }

    .box-reverse {
        flex-direction: column;
    }

    .contact {
        height: auto;
    }

    .contact-container {
        flex-direction: column;
        gap: 25px;
        margin: 3rem 0 1.5rem 0;
    }    

    .contact-box {
        width: 100%;
        padding-top: 3rem;
        font-size: 1.8rem;
    }

    .contact-box p{
        font-size: 1.5rem;
    }

    .general-box form{
        width: 100%;
        align-items: center;
    }

    .general-box input, textarea{
        width: 80%;
        height: 30px;
    }

    .general-box label {
       font-size: 1rem;
       padding-left: 120px;
       text-align: center;
    }

    .general-box #button {
        width: 20%;
    }

    .general-box textarea{
        height: 150px;
    }

    .contact .button{
        font-size: 1.2rem;
    }

    .footer {
        flex-direction: column;
        gap: 10px;
        padding: 2rem 7% 4rem 7%;
    }
}